*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.buttons{
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 7rem;
    margin: 1rem;
    
}
#front, #back, #tireFL, #tireFR, #exit{
    cursor: pointer;
    background: rgba(0, 255, 255, 0.12);
    color: white;
    padding: 4px;
    border: none;
    font-family: monospace;
    border-radius: 10px;
    font-size: 13px;
}

.info{
    position: absolute;
    padding: 14px 18px;
    background: rgba(0, 255, 255, 0.12);
    border: 1px solid rgba(0, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    color: #bffcff;
    font-family: monospace;
    border-radius: 10px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
    transition: opacity 0.3s ease;
}

.hidden{
    opacity: 0;
}